{% extends 'projects/main.html' %}

{% block content%}
  <main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Write A Blog</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="{% url 'create-project' %}" class="btn btn-primary my-2">Add a blog</a>
          <a href="{% url 'projects' %}" class="btn btn-secondary my-2">See all blogs</a>
        </p>
      </div>
    </div>
  </section>

  <main class="container pt-3">
    <div class="row mb-2">
    
      <div class="col-md-6">
        
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{p.created}}</strong>
       
            <h3 class="mb-0">{{p.title}}</h3>
       
            <div class="mb-1 text-muted">{{p.owner}}</div>
            <p class="card-text mb-auto">{{p.body|truncatechars:100}}</p>
            <a href="" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="card circle" src="{{p.imageURL}}" width="200" height="250"/>
          </div>

        </div>
        
      </div>
    
    </main>
    

</main>

{% endblock %}