{% extends 'projects/main.html'%}
{% block content %}

<style>
    input[type='text'],
    input[type='email'],
    input[type='password']{
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid;
        transition: all 0.3s ease-in-out;
        background-color: #;
    }
    input[type='text']:focus,
    input[type='email']:focus,

    input[type='password']:focus,

    input[type='text']:active,

    input[type='email']:active,

    input[type='password']:active{
        outline:none;
        border:2px solid #ccc;
    }

</style>
<main class="formPage my-x1">
    <div class="container py-3 row">
        <a class="col-1 p-3 text-center" href="{% url 'account' %}"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
          </svg></a>
        <h1 class="col-11">Add a Project</h2>
      </div>
    <div class="content-box">
        <div class="formWrapper">
            <h3 class="mx-3">
                Password Reset
            </h3>
            <p class="mx-3 mb-3">
                Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
            </p>
            <form class="mx-3 form" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type='submit' value='Submit' placeholder='Enter your email'></input>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
